REACTOR_PORT=9091
REACTOR_HOST=0.0.0.0
REACTOR_MODE=primary
BRIDGE_SECRET=c8l_sayan_bridge_2026
REACTOR_PRIMARY_URL=http://oracle-ip:9091
REACTOR_BACKUP_URL=http://vps-ip:9091
MODAL_TOKEN_ID=
MODAL_TOKEN_SECRET=
KAGGLE_USERNAME=
KAGGLE_KEY=
LIGHTNING_API_KEY=
HUGGINGFACE_TOKEN=
MAGIC_HOUR_API_KEY=
KLING_ACCESS_KEY=
KLING_SECRET_KEY=
GOOGLE_AI_API_KEY=
AGNES_API_KEY=
POLLINATIONS_API_KEY=
SEEDANCE_API_KEY=
FAL_KEY=
ADMIN_CHAT_ID=
TELEGRAM_NOTIFY_TOKEN=
